@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {

  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  
}

body {
    font-family: Roboto,sans-serif;
    font-weight: 300;
    background: #DCDCDC;
}

/*Navigation menu code referenced from W3school,Webmaster and Kevin Powell*/

nav {
  width: 100%;
  height: 75px;
  background-color: #000000;
  line-height: 75px;
  padding: 0px 80px;
}

.logo  {
  float: left;
}



nav h2 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: auto;
  color: #F4A460;
  text-transform: uppercase;
}

nav ul {
  float: right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
 
}

nav ul a {
  text-decoration: none;
  color:#ffffff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 15px;
}

nav ul li a:hover {
  color: #000000;
  background:#F4A460;
  border-radius: 6px;
  
}

nav ul .active {
  color:#FFFFF0;
  background: #D2691E;
  border-radius: 6px;
}

.checkbtn {
  color:#A9A9A9;
  font-size: 25px;
  cursor: pointer;
  float: right;
  display: none;
}

#check {
  display: none;
}

#bg-image {
  width: 100%;
  height: 100vh;
  background: url("../images/cocker-spaniel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

/* add media queries for nav bar*/


@media screen and (max-width: 1200px) {
  nav {
    padding: 0px 50px;
  }
  .checkbtn {
    display: block;
  }
  nav .logo h1 {
    font-size: 30px;
  }

  nav ul {
    width: 100%;
    height: 100vh;
    background-color:	#F4A460;
    position: absolute;
    top: 75px;
    left: -100%;
    text-align: center;
    transition: 0.2s ease;
    z-index: 1000;
  }

  nav ul li {
    display: block;
    margin: 40px 0px;
    line-height: 15px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #bg-image {
    width: 100%;
    
  }
}

/* Extra small devices (phones, 600px and down) */


@media screen and (max-width: 600px) {
  #bg-image{
    background-image:url("../images/puppy.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    max-width: 100%;
    
  
  }
  nav .logo h1 {
    font-size: 20px;
  }

  nav ul li {
    display: block;
    margin: 40px 0px;
    line-height: 15px;
  }
}



/*Why choose paw-fect Walks 5 reason section & heading*/


h2 {
  font-size: 40px;
  text-align: center;
  font-family:"bebas neue";
  letter-spacing: 3px;
  margin-top: 40px;
}
.container {
  max-width: 1370px;
  min-width: 250px;
  margin: auto;
  display: block;
}

.container .box {
  position: relative;
  margin: 10px;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  display: inline-block;
}


.marketing .container .box{
  position: relative;
  margin-left: 15%;
  width: 70%;
  height: 250px;
  box-sizing: border-box;
  display: inline-block;
}

.container .box .image-dog {
  position: relative;
  overflow: hidden;
}

.container .box .image-dog img {
  max-width: 100%;
  object-fit: cover; width: 300px; height: 300px;
  transition: transform 2s;
  border-radius: 10px;
  border: 5px solid #8B4513;
}

.container .box:hover .image-dog img {
  transform: scale(1.2);
}

.container .box .dog-info {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, .8);
  transform: scaleY(0);
  transition: transform 2s;
}

.container .box:hover .dog-info {
  transform: scaleY(1);
}

.container .box .dog-info .info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: burlywood;
}

.container .box .dog-info .info h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #fff;
}

.container .box .dog-info .info h3 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color:red;
}

.container .box .dog-info .info p {
  margin: 3px;
  padding: 0;
  font-size: 12px;
  
}


/*Media Queries reason section*/

/*3 colums of images*/

@media screen and (max-width: 1320px) {
  .container {
    width: 900px;
    
  }

  
  
}
@media only screen and (min-width: 811px) {
  .container{
    width: 760px;
  }

  .marketing .container .box {
    position: relative;
    margin-left: 3%;
    width: 20%;
    height: 250px;
    box-sizing: border-box;
    display: inline-block;
  }
}
 
   /*2 columns of images Ipad*/
   @media screen and (min-width: 769px )and (max-width: 810px) {
    .marketing .container .box {
      position: relative;
      margin-left: 7%;
      width: 40%;
      height: 250px;
      box-sizing: border-box;
      display: inline-block;
    }

  }

  @media screen and (min-width: 481px )and (max-width: 768px) {
    .container{
      width: 505px;
    }
    .marketing .container .box {
      position: relative;
      margin-left: 6%;
      width: 40%;
      height: 250px;
      box-sizing: border-box;
      display: inline-block;
    }
  
  
     }  
   
 /*single images in a column*/
 @media screen and (max-width: 540px) {
  .container{
    width: 250px;
  }

  
  
  h2 {
    font-size: 35px;
    letter-spacing: 1px;
  }

  nav h2 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: auto;
    color: #F4A460;
    text-transform: uppercase;
  }

  

   }  

   /*Client testimonal comments*/

   .testimonal-section {
    display: grid;
    height: 100%;
    align-content: center;
    
  }
    
  .wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .box {
    background: #A0522D;
    width: calc(33% - 10px);
    padding: 25px;
    margin-bottom: 80px;
    border-radius: 3px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  }
  
  .wrapper .box .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name {
    font-weight: 600;
    font-size: 17px;
  }
  
  .box .info .stars {
    margin-top: 2px;
  }
  .box .info .stars i {
    color: #FFD700;
  }
  
  /*Media Queries for Testimonal section*/
  
  @media (max-width: 1045px) {
    .wrapper .box{
      width: calc(50% - 10px);
      margin: 10px 0;
    }
  }
  @media (max-width: 762px){
    .wrapper .box {
      width: 100%;
    }
  }
/*Acreditation section code reference from Love Running Project the Meeting Time section*/

#Acreditation {
  background: #F4A460;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 8px;
}

#Acreditation div {
  color: #A0522D;
  width: 20%;
  height: 180px;
  float: left;
  text-align: center;
  padding: 40px 0 0 0px;
  border: 2px solid #000000;
  box-sizing: border-box;
  font-family: "bebas neue";
  letter-spacing: 2px;
}

#Acreditation div h2 {
  font-size: 19px;
}

/*footer for mobile & tablet responisveness referenced from Love Running project with Code Intitute*/

@media screen and (max-width: 1400px){
  #Acreditation > div {
    width: 100%;
    clear: both;
    height: 165px;
    padding: 0;
  }
}
/* styling footer code refernced from a few youtubers insert name*/

footer {
  background: #000000;
  height: auto;
  width: 100%;
  font-family: Roboto;
  padding: 40px;
  color: #A0522D;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-info h1 {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 3rem;
}

.foot-info p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.social-links li {
  margin: 0 10px;
  font-size: 2rem;
}

.social-links a {
  text-decoration: none;
  color: #DCDCDC;
}

.copyright {
  text-align: center;
}

/*Style for Price plan code reference from a few youtubers insert name*/

.container {
  width: 100%;
  margin: auto;
  
}

#heading {
  color:#000000;
  word-spacing: 15px;
  font-family: Roboto;
}



.pricing {
  width: 100%;
  padding: 50px 15px;
  background-image:  url("../images/park-lake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  
}

.pricing .item {
  width: 33.33%;
  padding: 15px;
  float: left;
}

.pricing .item.solo .pricing-header {
background-color: #A0522D;
border-radius: 8px 8px 0px 0px;
}

.pricing .item.group .pricing-header {
  background-color:#A9A9A9;
  border-radius: 8px 8px 0px 0px;
  }

  .pricing .item.weekends .pricing-header {
    background-color:#708090;
    border-radius: 8px 8px 0px 0px;
    }
.pricing .item .box {
background-color:#FFE4C4;
border-radius: 8px;

}

.pricing .box .pricing-header {
  padding: 15px;
  text-align: center;
}

.pricing .box .pricing-header h1 {
  font-size: 25px;
  color: #000000;
  margin: 10px 0px;
  text-transform: uppercase;
}

.pricing .item .box .pricing-body {
padding: 10px;
}

.pricing .item .box .pricing-body p {
font-size: 18px;
margin: 0px 0px;
padding: 5px 0px;
text-align: center;
border-bottom: 1px solid #A0522D;
}


.pricing .item .box .pricing-footer {
  text-align: center;
  padding: 12px;
}

.pricing .item .box .pricing-footer .button {
  border: none;
  padding: 15px 45px;
  color: #000000;
  font-size: 20px;
  border-radius: 6px;
}

.pricing-footer a {
  text-decoration: none;
}

.pricing .item.solo .box .pricing-footer .button {
  background-color: #FFFFF0;
}

.pricing .item.group .box .pricing-footer .button {
  background-color: #FFFFF0;
}

.pricing .item.weekends .box .pricing-footer .button {
  background-color: #FFFFF0;
}

/*Responsive media queries for tablets and mobile*/

@media screen and (max-width: 1200px){
  .pricing .item {
    width: 100%;
  }
}

@media screen and (min-width: 951px){
  .pricing .item {
    width: 29%;
    margin-bottom: 15%;
    margin-left: 3%;
   
  }
  .container .box {
    width:100%;
    position:relative;
  }
  .item.weekends .pricing-footer{
    margin-top:33px
  }
}

@media screen and (min-width: 769px) and (max-width: 950px){
  .pricing .item {
    width: 33%;
    margin-bottom: 15%;
   
  }
  .container .box {
    width:100%;
    position:relative;
  }
  
}

@media screen and (min-width: 481px )and (max-width: 768px){
  .pricing .item {
    position: relative;
    margin-left: 5%;
    margin-bottom: 15%;
    width: 40%;
    height: 250px;
    display: inline-block;
  }
}

@media screen and (max-width: 280px){
  .pricing .item {
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0%;
  }
  .pricing .item .box{
    width: 100%;
    margin: 0px;
  }
  .pricing .item .box .pricing-footer .button {
    font-size: medium;
  }
}


@media screen and (min-width: 281px) and (max-width: 480px){
  .pricing .item {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
  }
  .pricing .item .box{
    width: 100%;
    margin: 0px;
  }
  nav .logo h1 {
    font-size: 15px;
  }
  .pricing h2 {
    font-size: 20px;
    margin-top: 5px;
  }
}

/* About Us page refernces taken from Youtube Learn Web*/


.container {
  width: 100%;
  height: auto;
  
}

.container .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 25px;
  color: #000000;
  letter-spacing: 1.2px;
  padding: 40px 0px;
}

.container .title h1::after {
  content: "";
  height: 6px;
  width: 180px;
  background-color:#A0522D;
  border-radius: 5px;
  position: relative;
  display: block;
  margin: auto;
}

.content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 40px auto;
  }


.content .article {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
  background-color: #f4a460;
  padding: 20px 20px;
}

.content .article h2 {
  color: #000000;
  font-size: 30px;
  line-height: 2;
  letter-spacing: 3px;
}

.content .article p {
margin-top: 25px;
font-size: 15px;
line-height: 1.2;
}

.content .article a {
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  background-color: #A0522D;
  border-radius: 20px;
  color: #000000;
  margin-top: 40px;
}

.content .article a:hover {
background-color:#DCDCDC;
color: #D2691E;
transition: 0.2s ease;
}
.image-section {
  width: 100%;
  margin: auto;
}

.image-section img {
  width: 100%;
  height: auto;
}

/*Media queries for about us section*/

@media screen and (max-width:1200px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    }

    .article {
      text-align: center;
    }
}

@media screen and (max-width:300px) {


  nav h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: auto;
    color: #F4A460;
    text-transform: uppercase;
  }
}


/*style for Contact Us section code reference Youtube insert name & code reference from Coders Coffee*/



.body {
  height: 1300px;
  display: grid;
  font-family: Roboto, sans-serif;
  
  
 
}

#bg-picture {
  background: url("../images/valley.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.contact-wrap {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-in {
  padding: 40px 30px;
}

.contact-in:nth-child(1) {
  flex: 30%;
  background: url("../images/park-path.jpg");
  opacity: 0.8;
  
  
  
  
}

.contact-in:nth-child(2) {
  flex: 45%;
  background: tomato;
}

.contact-in:nth-child(3) {
  flex: 25%;
  padding: 0;
}

.contact-in h1 {
font-size: 25px;
text-transform: uppercase;
margin-bottom: 20px;
color: white;
}

.contact-in h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #DAA520;
  }

    

    .contact-in p {
      font-size: 18px;
      margin-bottom: 20px;
      color: whitesmoke;
      text-align: center;
    }
      
    .contact-in form {
      width: 100%;
      height: auto;
    }

    .contact-in-input {
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      border: 2px solid #fff;
      outline: none;
      padding-left: 5px;
      background: transparent;
      color: white;
      font-size: 12px;
      font-weight: 300;
      font-family: Roboto, sans-serif;
    }

    .contact-in-input::placeholder {
      color:white;
    
    }

    .contact-in-textarea {
      width: 100%;
      height: 140px;
      margin-bottom: 20px;
      border: 2px solid #fff;
      outline: none;
      padding-top: 5px;
      padding-left: 5px;
      background: transparent;
      color:white;
      font-size: 12px;
      font-weight: 300;
      font-family: Roboto, sans-serif;
    }

    .contact-in-input-textarea::placeholder {
      color:white;
    
    }

    .contact-in-btn {
      width: 100%;
      height: 40px;
      border: 2px solid #fff;
      outline: none;
      background: transparent;
      color:white;
      font-size: 12px;
      font-weight: 300;
      font-family: Roboto, sans-serif;
      cursor: pointer;
    }

    /* Add style to Google map iframe*/

    
    .contact-in iframe {
      width: 150%;
      height: 100%;
    }

    /* Media queries for Contact Us section. Had help from Jonny Whittle from Slack community*/

   
      /* On screens that are 1200px wide */
@media screen and (max-width: 1200px) {
  .contact-in:nth-child(1){
    display: flex;
    flex-direction: column;
    
    }
    .contact-in iframe {
      width: 100%;
      height: 100%;
  }

  .contact-in:nth-child(2) {
    display: flex;
    flex-direction: column;
    
  }
  
  .contact-in:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding: 0;
   
  }
}





/*Media queries for screens 950px*/


@media screen and (max-width: 950px) {
  .contact-in:nth-child(1){
    flex: 40%;
    flex-direction: column;
    
    }
    .contact-in iframe {
      width: 100%;
      height: 100%;
      
  }

  .contact-in:nth-child(2) {
    display: flex;
    flex-direction: column;
    
  }
  
  .contact-in:nth-child(3) {
    flex: 30%;
    flex-direction: column;
    padding: 5% 0;
   
  }
}





/*Media queries for screens 800px*/


@media screen and (max-width: 800px) {
  .contact-in:nth-child(1){
    flex: 100%;
    flex-direction: column;
    margin-top: 5%;
    
    }
    .contact-in iframe {
      width: 100%;
      height: 100%;
  }

  .contact-in:nth-child(2) {
    flex: 100%;
    flex-direction: column;
    margin-top: 5%;
    
  }
  
  .contact-in:nth-child(3) {
    flex: 100%;
    flex-direction: column;
    padding: 5% 0;
    margin-top: 5%;
    margin-bottom: 5%;
   
  }

  .contact-wrap {
    height: 100%;
  }
}

@media screen and (max-width: 300px) {

  .contact-in {
    padding: 30px 10px;
  }
}

/*Thank you page*/

.thanks {
  background: url("../images/valley.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  text-align: center;
  color: #000000;
  
}

.thanks p {
  font-size: 30px;
  color: #000000;
  text-align: center;
}