@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {

  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  
}

body {
    font-family: Roboto,sans-serif;
    font-weight: 300;
    /*background: #DCDCDC;*/
}

/*Navigation menu code referenced from W3school,Webmaster and Kevin Powell*/

nav {
  width: 100%;
  height: 75px;
  background-color: #000000;
  line-height: 75px;
  padding: 0px 80px;
}

.logo {
  float: left;
}

span {
  color: brown;
}

nav h1 {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}

nav ul {
  float: right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul a {
  text-decoration: none;
  color:#fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 15px;
}

nav ul li a:hover {
  color: #A0522D;
  background: rgba(139, 149, 166);
  border-radius: 6px;
  
}

nav ul .active {
  color:#696969;
  background: rgba(139, 149, 166);
  border-radius: 6px;
}

.checkbtn {
  color:#A9A9A9;
  font-size: 25px;
  cursor: pointer;
  float: right;
  display: none;
}

#check {
  display: none;
}

#bg-image {
  width: 100%;
  height: 100vh;
  background: url("../images/cocker-spaniel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

/* add media queries for nav bar*/


@media screen and (max-width: 1200px) {
  nav {
    padding: 0px 50px;
  }
  .checkbtn {
    display: block;
  }
  nav .logo h1 {
    font-size: 30px;
  }

  nav ul {
    width: 100%;
    height: 100vh;
    background-color:	#F4A460;
    position: absolute;
    top: 75px;
    left: -100%;
    text-align: center;
    transition: 0.2s ease;
  }

  nav ul li {
    display: block;
    margin: 40px 0px;
    line-height: 15px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #bg-image {
    width: 100%;
    
  }
}

/* Extra small devices (phones, 600px and down) */


@media screen and (max-width: 600px) {
  #bg-image{
    background-image:url("../images/puppy.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    max-width: 100%;
    
  
  }
  nav .logo h1 {
    font-size: 20px;
  }

  nav ul li {
    display: block;
    margin: 40px 0px;
    line-height: 15px;
  }
}



/*Why choose paw-fect Walks 5S reason section & heading*/


h2 {
  text-align: center;
}
.container {
  max-width: 1370px;
  min-width: 250px;
  margin: auto;
  display: block;
}

.container .box {
  position: relative;
  margin: 10px;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  display: inline-block;
}

.container .box .image-dog {
  position: relative;
  overflow: hidden;
}

.container .box .image-dog img {
  max-width: 100%;
  object-fit: cover; width: 300px; height: 300px;
  transition: transform 2s;
  border-radius: 10px;
  border: 5px solid saddlebrown;
}

.container .box:hover .image-dog img {
  transform: scale(1.2);
}

.container .box .dog-info {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, .8);
  transform: scaleY(0);
  transition: transform 2s;
}

.container .box:hover .dog-info {
  transform: scaleY(1);
}

.container .box .dog-info .info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: burlywood;
}

.container .box .dog-info .info h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #fff;
}

.container .box .dog-info .info h3 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color:red;
}

.container .box .dog-info .info p {
  margin: 5px;
  padding: 0;
  font-size: 15px;
  
}


/*Media Queries reason section*/

/*3 colums of images*/

@media screen and (max-width: 1320px) {
  .container {
    width: 900px;
    
  }
}
@media screen and (max-width: 1270px) {
  .container{
    width: 760px;
  }
   }  
 
   /*2 columns of images*/
 @media screen and (max-width: 760px) {
  .container{
    width: 505px;
  }
   }  
   
 /*single images in a column*/
 @media screen and (max-width: 540px) {
  .container{
    width: 250px;
  }
   }  


/*Acreditation*/

#Acreditation {
  background: #F4A460;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 8px;
}

#Acreditation div {
  color: #A0522D;
  width: 20%;
  height: 180px;
  float: left;
  text-align: center;
  padding: 40px 0 0 0px;
  border: 2px solid #000000;
  box-sizing: border-box;
  font-family: "bebas neue";
  letter-spacing: 2px;
}



/* styling footer*/

footer {
  background: #000000;
  height: auto;
  width: 100%;
  font-family: Roboto;
  padding: 40px;
  color: #A0522D;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-info h3 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 4rem;
}

.foot-info p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.social-links li {
  margin: 0 10px;
  font-size: 2rem;
}

.social-links a {
  text-decoration: none;
  color: #DCDCDC;
}

.copyright {
  text-align: center;
}

